.planetDescription{
    width:100%;
    position: relative;
    margin-top:50px;
  
}
.col1{
    width:100%;
    float:left;
    vertical-align: middle;
}
.col2{
    width:100%;
    float:left;
    padding:10px;
    box-sizing: border-box;
}
@media (min-width: 768px){
    .col1{
        width:50%;
        float:left;
        vertical-align: middle;
    }
    .col2{
        width:50%;
        float:left;
        padding:10px;
        box-sizing: border-box;
    }
}
.planetImage{
    /* border-radius: 100%;
    border:1px solid #000;
    background: blue; */
    background-image: url('https://encrypted-tbn3.google.com/images?q=tbn:ANd9GcTQqoB4xBnIkmUg5pxDyYW2h0Q1pRTsbQBOfhg-E-y4iLFicsyi');
    width: 70px;
    height: 70px;
    /* a black shadow from left and white from right */
    box-shadow: inset 16px 0 40px 3px rgba(0,0,0,0.9),
      inset -3px 0 5px 2px rgba(255,255,255,0.16);
    background-size: 190px;
    margin: 80px auto;
    border-radius: 50%;
    position: relative;
    animation: rotate 4s infinite linear;
}
@keyframes rotate {
    0% { background-position: 0px; }
    100% { background-position: 190px; }
  }